.caixaResposta{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
}

.botaoVermelho{
    border-radius: 10%;
    padding: 4rem;
    font-size: 2rem;
    border: 2.5px solid white;
    color: white;
    font-weight: bold;
    background-color: red;
}

.botaoVermelho:hover{
    cursor: pointer;
}

.contador {
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
}